<div class="demo">
  <div class="container">
    <div class="columns p-4">
      <div class="column indicator" style="background-color: black">
        <div class="py-2">
          <span class="has-text-white">BlinkRate/Min&nbsp;:&nbsp;</span>
          <span class="has-text-white">{{ (blinkingRate$ | async) || 24 }}</span>
        </div>
      </div>
      <div class="column dashboard">
        <div style="display: flex; flex-direction: column">
          <div class="camera p-4" style="background-color: black">
            <canvas #canvasRef width="700" height="500"></canvas>
          </div>
          <div class="box p-4" style="background-color: black">
            <img src="/assets/dashboard.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<audio #audioRef hidden src="/assets/wake-up.mp3"></audio>
