<div class="demo">
  <div class="container">
    <div class="columns p-4">
      <div class="column indicator" style="background-color: black">
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="py-5" [style.visibility]="(sleeping$ | async) ? 'visible' : 'hidden'">
              <figure class="image is-128x128">
                <img src="/assets/alert.svg" />
              </figure>
              <div class="p-2">
                <span class="has-text-white is-size-4">Wake Up !</span>
              </div>
            </div>
          </div>
        </div>

        <div class="py-2">
          <span class="has-text-white is-size-4">Blink-Rate &nbsp;:&nbsp;</span>
          <span class="has-text-white is-size-4">{{ (blinkingRate$ | async) || 24 }}</span>
        </div>
        <div class="py-2">
          <span class="has-text-white is-size-4">Yawns &nbsp;:&nbsp;</span>
          <span class="has-text-white is-size-4">{{ yawns$ | async }}</span>
        </div>
        <div class="py-2">
          <span class="has-text-white is-size-4">Distractions &nbsp;:&nbsp;</span>
          <span class="has-text-white is-size-4">{{ distractionCount$ | async }}</span>
        </div>
        <div class="py-3 my-2">
          <a class="button is-outlined is-medium" [routerLink]="['/']">Exit</a>
        </div>
      </div>
      <div class="column dashboard">
        <div style="display: flex; flex-direction: column">
          <div class="camera p-4" style="background-color: black">
            <canvas #canvasRef width="700" height="500"></canvas>
          </div>
          <div class="box p-4" style="background-color: black">
            <img src="/assets/dashboard.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<audio #audioRef hidden src="/assets/wake-up.mp3"></audio>
