<span class="cursor"></span>
<main #main>
  <article>
    <!-- Ist Section -->
    <section class="section">
      <div class="container">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <img src="/assets/intro.gif" />
            </figure>
          </div>
          <div class="card-content is-overlay">
            <div style="position: relative; margin: 0; top: 50%">
              <h1 class="title has-text-white is-size-1">Hello Humans</h1>
              <p class="subtitle has-text-white is-size-2">OpenEye is here to help you stay safe on roads!</p>
              <div>
                <button class="button is-outlined is-medium" (click)="scrollToNextSection()">Next</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- IInd Section -->
    <section class="section">
      <div class="container">
        <div class="columns is-vcentered is-centered is-mobile">
          <div class="column is-one-quarter">
            <div class="road-strip"></div>
          </div>
          <div class="column">
            <p class="subtitle has-text-white is-half">
              Each year 13.5 lakh people are killed on roadways all over the world, out of this 2.7 lakh accidents ( 20% ) are caused by sleepiness, fatigue, and drowsy driving. <br><br>
              The problem of drowsy driving is compounded by the fact that it can be difficult to detect. Unlike driving under the influence of alcohol or drugs, there is no simple test to determine whether a driver is too tired to drive safely.<br><br>Additionally, many people underestimate the effects of fatigue on their driving abilities, which can lead them to continue driving even when they are too tired.
            </p>
            <div>
              <button class="button is-outlined is-medium" (click)="scrollToPreviousSection()">Previous</button>
              <button class="button is-outlined is-medium" (click)="scrollToNextSection()">Next</button>
            </div>
          </div>
          <div class="column is-one-quarter">
            <div class="road-strip"></div>
          </div>
        </div>
      </div>
    </section>

    <!-- IIIrd Section -->
    <section class="section">
      <div class="container">
        <div class="columns is-vcentered is-centered is-mobile">
          <div class="column is-one-quarter">
            <div class="road-strip"></div>
          </div>
          <div class="column">
            <p class="subtitle has-text-white is-half">
              All over the world, 1 IN 5 SERIOUS CAR ACCIDENTS CAUSED BY SLEEP DEPRIVATION.
            </p>
            <div>
              <button class="button is-outlined is-medium" (click)="scrollToPreviousSection()">Previous</button>
              <button class="button is-outlined is-medium" (click)="scrollToNextSection()">Next</button>
            </div>
          </div>
          <div class="column is-one-quarter">
            <div class="road-strip"></div>
          </div>
        </div>
      </div>
    </section>

    <!-- IVth Section -->
    <section class="section">
      <div class="container">
        <div class="columns is-vcentered is-centered">
          <div class="column">
            <figure class="image is-2by3">
              <img src="/assets/digital.svg" />
            </figure>
          </div>
          <div class="column">
            <p class="has-text-white title">This is why I was created</p>
            <p class="subtitle has-text-white">Meet my creators</p>
            <div class="profile">
              <figure class="image is-128x128 pp">
                <img class="is-rounded" src="../../assets/Vikash.png" />
              </figure>
              <figure class="image is-128x128 pp">
                <img class="is-rounded" src="../../assets/Anil.png" />
              </figure>
              <figure class="image is-128x128 pp">
                <img class="is-rounded" src="../../assets/Raghav.png" />
              </figure>
              <figure class="image is-128x128 pp">
                <img class="is-rounded" src="../../assets/Yashika.png" />
              </figure>
              <figure class="image is-128x128 pp">
                <img class="is-rounded" src="../../assets/Lovish.png" />
              </figure>
            </div>
            <div>
              <button class="button is-outlined is-medium" (click)="scrollToPreviousSection()">Previous</button>
              <button class="button is-outlined is-medium" (click)="scrollToNextSection()">Next</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Vth Section -->
    <section class="section">
      <div class="container">
        <div class="columns is-vcentered is-centered is-mobile">
          <div class="column is-one-quarter">
            <div class="road-strip"></div>
          </div>
          <div class="column">
            <p class="is-size-4 has-text-white">Our solution to the problem of drowsy driving is to use AI sleep detection technology (OpenEye) to monitor drivers and detect signs of drowsiness.<br><br>OpenEye uses sensors, and algorithms, and analyze the driver's behavior, such as eye movements, head position, and steering patterns, to determine whether the driver is drowsy or asleep.<br><br>When OpenEye detects signs of drowsiness, it alerts the driver with a warning signal, such as a sound or vibration, to encourage the driver to take a break or switch drivers.<br><br> 
             </p>
            <div>
              <button class="button is-outlined is-medium" (click)="scrollToPreviousSection()">Previous</button>
              <button class="button is-outlined is-medium" (click)="scrollToNextSection()">Next</button>
            </div>
          </div>
          <div class="column is-one-quarter">
            <div class="road-strip"></div>
          </div>
          
        </div>
      </div>
    </section>

    <!-- VIth Section -->
    <section class="section">
      <div class="container">
        <div class="columns is-vcentered is-centered is-mobile">
          <div class="column is-one-quarter">
            <div class="road-strip"></div>
          </div>
          <div class="column">
            <p class="is-size-4 has-text-white">But</p>
            <p class="is-size-4 has-text-white">I am not just restricted to this</p>
            <p class="is-size-4 has-text-white">I can help you in many other ways.</p>
            <div>
              <button class="button is-outlined is-medium" (click)="scrollToPreviousSection()">Previous</button>
              <button class="button is-outlined is-medium" (click)="scrollToNextSection()">Next</button>
            </div>
          </div>
          <div class="column is-one-quarter">
            <div class="road-strip"></div>
          </div>
          
        </div>
      </div>
    </section>

    <!-- VIIth Section -->
    <section class="section">
      <div class="container">
        <div class="columns is-vcentered is-centered is-mobile">
          <div class="column is-one-quarter">
            <div class="road-strip"></div>
          </div>
          <div class="column text-container">
            <p class="has-text-white is-half is-size-4">
              Now that you have seen what I am capable of,<br />
              how about a ride with me!
            </p>
            <div>
              <button class="button is-outlined is-medium" (click)="scrollToPreviousSection()">Previous</button>
              <a class="button is-outlined is-medium" [routerLink]="['/demo']">Quick Demo</a>
            </div>
          </div>
          <div class="column is-one-quarter">
            <div class="road-strip"></div>
          </div>
         
        </div>
      </div>
    </section>
  </article>
</main>
