::-webkit-scrollbar {
  display: none;
}


main {
  position: fixed;
  top: 0;
  left: 0;
  /*  note vh and vw switched  */
  width: 100vh;
  height: 100vw;
  /*    */
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100vh);
  overflow-x: hidden;
  overflow-y: scroll;
  
  /*   scroll-snap-type: y mandatory; */
}

article {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  transform-origin: top left;
  transform: rotate(90deg) translateY(-100vh);
}

section {
  width: 100vw;
  height: 100vh;
  /*   scroll-snap-align: start; */
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 3rem;
  /*  backface visibility keeps font from looking weird  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-image: linear-gradient(to bottom right, #000000, #05070a, #1c2f35)
}

.road-strip {
  width: 90%;
  height: 20px;
  background-color: white;
  display: inline-block;
  
}

$size: 36px;

.cursor {
  position: fixed;
  z-index: 100;
  height: $size;
  width: $size;
  border-radius: $size;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 24px 0 #0000001a, 0 1px 0 0 #0000;
  pointer-events: none;
  transition: all 200ms ease-out;
  left: -$size/2;
  top: -$size/2;
  box-sizing: border-box;
}

.text-container{
  width: auto;
  padding-bottom: 20px;
}

.button{
  margin-right: 10px;
}

p{
  font-size: 23px;
}

figure{
  margin-bottom: 10px;
}



.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile img {
  width: 80px;
  height: 80px;
  margin: 0 10px;
  border-radius: 50%;
  transform: translateX(0);
  transition: transform 0.5s;
}

.profile img:nth-child(1) {
  animation: move-left 2.5s ease-in-out infinite;
}

.profile img:nth-child(2) {
  animation: move-right 2.5s ease-in-out infinite;
}

.profile img:nth-child(3) {
  animation: move-left 2.5s ease-in-out infinite;
}

.profile img:nth-child(4) {
  animation: move-right 2.5s ease-in-out infinite;
}

.profile img:nth-child(5) {
  animation: move-left 2.5s ease-in-out infinite;
}

@keyframes move-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
