<main>
  <article>
    <!-- Ist Section -->
    <section class="section">
      <div class="container">
        <div class="columns is-vcentered is-centered">
          <div class="column">
            <h1 class="title has-text-white">Hello Humans</h1>
            <p class="subtitle has-text-white">I am here to help you stay <strong>safe</strong>!</p>
          </div>
          <div class="column">
            <figure class="image is-2by3">
              <img src="/assets/intro.svg" />
            </figure>
          </div>
        </div>
      </div>
    </section>

    <!-- IInd Section -->
    <section class="section">
      <div class="container">
        <div class="columns is-vcentered is-centered is-mobile">
          <div class="column is-one-quarter">
            <div class="road-strip"></div>
          </div>
          <div class="column">
            <p class="subtitle has-text-white is-half">
              Despite advancements in automotive technology, road accidents remain a significant public safety concern
              worldwide. AI can be leveraged to identify and predict potentially hazardous scenarios on the road, alert
              drivers and take necessary measures to prevent accidents before they occur.
            </p>
          </div>
          <div class="column is-one-quarter">
            <div class="road-strip"></div>
          </div>
        </div>
      </div>
    </section>

    <!-- IIIrd Section -->
    <section class="section">
      <div class="container">
        <div class="columns is-vcentered is-centered is-mobile">
          <div class="column is-one-quarter">
            <div class="road-strip"></div>
          </div>
          <div class="column">
            <p class="subtitle has-text-white is-half">
              In 2019, according to figures from the US National Highway Traffic Safety Association (NHTSA), there were
              697 fatalities caused by “drowsy driving.” In 2017, there were 91,000 police-reported crashes caused by a
              tired driver. Around 50,000 people were injured as a result.
            </p>
          </div>
          <div class="column is-one-quarter">
            <div class="road-strip"></div>
          </div>
        </div>
      </div>
    </section>

    <!-- IVth Section -->
    <section class="section">
      <div class="container">
        <div class="columns is-vcentered is-centered">
          <div class="column">
            <figure class="image is-2by3">
              <img src="/assets/digital.svg" />
            </figure>
          </div>
          <div class="column">
            <p class="has-text-white title">This is why I was created</p>
            <p class="subtitle has-text-white">Meet my creators</p>
            <div>
              <figure class="image is-128x128">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png" />
              </figure>
              <figure class="image is-128x128">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png" />
              </figure>
              <figure class="image is-128x128">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png" />
              </figure>
              <figure class="image is-128x128">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png" />
              </figure>
              <figure class="image is-128x128">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png" />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Vth Section -->
    <section class="section">
      <div class="container">
        <div class="columns is-vcentered is-centered is-mobile">
          <div class="column is-one-quarter">
            <div class="road-strip"></div>
          </div>
          <div class="column is-one-quarter">
            <div class="road-strip"></div>
          </div>
          <div class="column">
            <p class="is-size-4 has-text-white">But</p>
            <p class="is-size-4 has-text-white">I am not just restricted to this</p>
            <p class="is-size-4 has-text-white">I can help you in many other ways.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- VIth Section -->
    <section class="section">
      <div class="container">
        <div class="columns is-vcentered is-centered is-mobile">
          <div class="column is-one-quarter">
            <div class="road-strip"></div>
          </div>
          <div class="column is-one-quarter">
            <div class="road-strip"></div>
          </div>
          <div class="column">
            <p class="is-size-4 has-text-white">But</p>
            <p class="is-size-4 has-text-white">I am not just restricted to this</p>
            <p class="is-size-4 has-text-white">I can help you in many other ways.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- VIIth Section -->
    <section class="section">
      <div class="container">
        <div class="columns is-vcentered is-centered is-mobile">
          <div class="column is-one-quarter">
            <div class="road-strip"></div>
          </div>
          <div class="column is-one-quarter">
            <div class="road-strip"></div>
          </div>
          <div class="column">
            <p class="has-text-white is-half is-size-4">
              Now that you have seen what I am capable of,<br />
              how about I give you a demo
            </p>
            <div>
              <a class="button" [routerLink]="['/demo']">Quick Demo</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
